<a href="https://colab.research.google.com/github/TexasherScript/python-sql/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('/ba979207-fbd0-4f96-b855-ac7540e03b23.csv')

df.head()

,_id,FinancialYear,Country,Dataset,DatasetQF,NumberOfAdmissions,NumberOfDischarges,NumberOfStays,NumberOfPatients,NumberOfHospitalResidents,NumberOfHospitalResidentsQF
0,1,1997/98,S92000003,Total,d,41460,41780,38150,28180,7840,
1,2,1997/98,S92000003,Total,d,9450,9480,8700,7760,,:
2,3,1997/98,S92000003,SMR04,,32010,32300,29450,21530,7840,
3,4,1998/99,S92000003,Total,d,41380,41900,38010,28400,7330,
4,5,1998/99,S92000003,Total,d,9830,9840,8920,7890,,:

In [17]:
df1 = df.drop(columns=['Country','DatasetQF','NumberOfHospitalResidents','NumberOfHospitalResidentsQF', 'Dataset'])
df1.head()

,_id,FinancialYear,NumberOfAdmissions,NumberOfDischarges,NumberOfStays,NumberOfPatients
0,1,1997/98,41460,41780,38150,28180
1,2,1997/98,9450,9480,8700,7760
2,3,1997/98,32010,32300,29450,21530
3,4,1998/99,41380,41900,38010,28400
4,5,1998/99,9830,9840,8920,7890

Some values in the columns are stored as strings instead of numerical values, which makes it difficult to apply calculations like sums, averages, or comparisons. This can often happen if the data has special characters, extra spaces, or other non-numeric elements mixed in.

Let's attempt to clean and convert these values into proper numerical types.

In [18]:
# Check the data types of each column
print(df1.dtypes)

# View some rows where numeric columns might contain non-numeric values
df1.head()

#drops duplicate rows
df1.drop_duplicates()
#drops empty values in columns
df1.dropna()

_id                    int64
FinancialYear         object
NumberOfAdmissions     int64
NumberOfDischarges     int64
NumberOfStays          int64
NumberOfPatients       int64
dtype: object

,_id,FinancialYear,NumberOfAdmissions,NumberOfDischarges,NumberOfStays,NumberOfPatients
0,1,1997/98,41460,41780,38150,28180
1,2,1997/98,9450,9480,8700,7760
2,3,1997/98,32010,32300,29450,21530
3,4,1998/99,41380,41900,38010,28400
4,5,1998/99,9830,9840,8920,7890

Convert Strings to Numeric Values
We can use the pd.to_numeric() function to convert string columns into numerical columns. We'll also use the errors='coerce' argument to convert any invalid parsing into NaN values.

In [ ]:
# Example: Convert 'NumberOfHospitalResidents' and 'NumberOfResidentsQF' columns to numeric types
df['NumberOfHospitalResidents'] = pd.to_numeric(df['NumberOfHospitalResidents'], errors='coerce')
df['NumberOfResidentsQF'] = pd.to_numeric(df['NumberOfResidentsQF'], errors='coerce')

# Repeat for any other columns that should be numeric
df['colname1'] = pd.to_numeric(df['colName1'], errors='coerce')
df['colname2'] = pd.to_numeric(df['colName2'], errors='coerce')
df['colname3'] = pd.to_numeric(df['colname3'], errors='coerce')

The two  variables I would want to focus on are Number of Admissions and Number of Discharges per year.

In [20]:
df1.groupby('FinancialYear')[['NumberOfAdmissions', 'NumberOfDischarges', 'NumberOfStays']].sum()
df1.groupby('FinancialYear')[['NumberOfAdmissions', 'NumberOfDischarges', 'NumberOfStays']].mean()
df1.groupby('FinancialYear')[['NumberOfAdmissions', 'NumberOfDischarges', 'NumberOfStays']].std()

               NumberOfAdmissions  NumberOfDischarges  NumberOfStays
FinancialYear
1997/98              16446.358260        16602.774868   15130.295216
1998/99              16144.089734        16423.548135   14904.409862
1999/00              15806.196042        16035.463822   14358.768517
2000/01              15628.603051        15772.093499   13934.250369
2001/02              15202.158838        15390.095300   13514.267769
2002/03              14758.812057        14932.903268   13284.044314
2003/04              14379.248937        14476.187343   12733.425829
2004/05              13875.605692        14050.135231   12300.391593
2005/06              13147.513073        13314.638561   11755.680896
2006/07              12323.369399        12437.147315   10983.425392
2007/08              11852.806981        12024.042581   10709.128505
2008/09              11717.538137        11864.623888   10727.940156
2009/10              11102.595793        11168.528700    9905.094649
2010/11              10801.654194        10873.306765    9447.604635
2011/12              10927.598089        11026.424322    9347.946299
2012/13              10854.459913        10881.971329    9284.896338
2013/14              11053.571067        11066.825802    9138.431667
2014/15              11490.371331        11497.444644    8978.646891
2015/16              12238.522514        12271.055374    9124.507293
2016/17              12822.468561        12838.910909    9103.682405
2017/18              13688.394111        13692.995776    9131.971310
2018/19              14312.548108        14306.209607    9408.556389
2019/20              15588.423055        15764.673588    9743.864736
2020/21              15336.376147        15222.881900    8786.127323
2021/22              15408.962760        15605.782048    8837.343115